/node_modules

/agent-web/node_modules
/agent-web/dist
/agent-web/build

/task-router/node_modules
/task-router/dist
/task-router/build

/agents/common/node_modules
/agents/common/dist
/agents/common/build

/agents/researcher/node_modules
/agents/researcher/dist
/agents/researcher/build

/agents/coder/node_modules
/agents/coder/dist
/agents/coder/build

/agents/product_manager/node_modules
/agents/product_manager/dist
/agents/product_manager/build

/agents/drawer/node_modules
/agents/drawer/dist
/agents/drawer/build

/agents/designer/node_modules
/agents/designer/dist
/agents/designer/build

/infra/local.env
/infra/.env
.env

.node_modules
.dist
.build